@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService authorizationService

@{
    var result = await authorizationService.AuthorizeAsync(this.User, "ShowAdminMenu");
}

@if (result.Succeeded)
{
    <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle mr-md-2" href="#" data-toggle="dropdown">
            Manage
        </a>
        <div class=" dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" asp—page="/Role/Index" asp—area="Admin">Quản lý role</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp—page="/User/Index" asp—area="Admin">Quản lý User</a>
        </div>
    </li>
}