@page "/admin/delete-role/{roleid}"
@model WebTN.Admin.Role.DeleteModel
@{
    ViewData["Title"] = "Xoá Role";
}

<H1>@ViewData["Title"]</H1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Bạn có chắc muốn xoá role <strong>@Model.role.Name</strong> không?</p>
            <div class="form-group">
                <input type="submit" value="Xoá" class="btn btn-danger" />
                <a class="btn btn-primary" asp-page="./Index">Danh sách role</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("/Pages/Shared/_ValidationScriptsPartial.cshtml");
    }
}
