@page "/user/personal-data"
@model PersonalDataModel
@{
    ViewData["Title"] = "Dữ Liệu Người DÙng";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Bạn có thể tải xuống thông tin hoặc xoá hoàn toàn thông tin.</p>
        <p>
            <strong>Tài khoản đã xoá thì không thể phục hồi.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Tải dữ liệu</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Xoá tài khoản</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
