@page "/khoa-tai-khoan"
@model LockoutModel
@{
    ViewData["Title"] = "Tài Khoản Bị Khoá";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài khoản này đã bị khoá, vui lòng thử lại sau.</p>
</header>
