@page "/yeu-cau-xac-thuc-email"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Yêu cầu Xác Thực Email";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vui lòng kiểm tra và xác thực email @Model.Email.
</p>

