@page
@using WebTN.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var posts = ViewData["posts"] as List<Article>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<ol>
    @foreach(var item in posts)
    {
        <li>
            @item.Title
        </li>
    }
</ol>
